{{!-- {{> privateNavBar}}

<section class="mt-4 border p-3 rounded-2 bg-light">
  <h2 class="text-center">Add Comment</h2>

  <form class="mt-4" data-id="{{id}}" id="comment-form">

    <div class="mb-3">
      <input
        type="comment"
        class="form-control"
        id="comment"
        placeholder="Enter comment"
      />
    </div>

    <div id="comment-error"></div>

    <div class="mb-3 text-center">
      <button type="submit" data-id="{{id}}" class="btn btn-primary">Add Comment</button>
    </div>

  </form>
</section> --}}