{{> privateNavBar}}
<h2>Welcome {{username}}</h2>

{{#each blogs as |blog|}}
  {{> allBlogs}}
{{/each}}

    <div class="mb-3 text-center">
        <a class="btn btn-primary btn-lg mt-4" href="/create" role="button">Create New Blog</a>
    </div>
