{{> publicNavBar}}
<main class="container mt-4">
  <form id="signup-form">
    <div class="mb-3">
      <input type="username" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
    </div>
    <div class="mb-3 text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</main>